#root {
    text-align: center;
    background: #2b2b2b;
    background: linear-gradient(
        145deg,
        rgba(43, 43, 43, 1) 0%,
        rgba(19, 19, 19, 1) 75%
    );

    font-family: var(--mantine-font-family);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-optical-sizing: auto;
    font-style: normal;
}

a {
    color: var(--mantine-color-white);
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}
