.header {
    min-height: 56px;
    background-color: var(--mantine-color-body);
    border-bottom: 1px solid
        light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));

    position: sticky;
    top: 0;
    padding: 0.5em 0.25em;
    z-index: 100;

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
}

.inner {
    min-height: 56px;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;

    @media (max-width: $mantine-breakpoint-sm) {
        margin: 0 auto;
        gap: 1em;
        flex-direction: column;
    }
}

.filterRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.resultsRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
