.info {
    margin: 0 auto;
    background-color: var(--mantine-color-body);
    padding: 1rem;
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
}

.logoIcon {
    width: 0.9em;
    height: auto;
}

.info h1 {
    font-size: 3.5em;
    font-family: "Nunito", sans-serif;
    color: var(--important-text-color);
}
