.name {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

    font-family: "Nunito", sans-serif;
    font-size: 1.25em;
    text-align: left;
    font-weight: bold;
}

.site {
    text-align: left;
}

.image {
    width: 2em;
}
