.info {
    margin: 0 auto;
    background-color: var(--mantine-color-body);
    padding: 1rem;
    text-align: center;

    @media (max-width: $mantine-breakpoint-sm) {
        width: 100%;
    }
}

.info h1 {
    font-size: 3.5em;
    font-family: "Nunito", sans-serif;
    color: var(--mantine-color-white);
}
