.footer {
    margin-top: 50px;
    border-top: 1px solid
        light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
    background-color: var(--mantine-color-dark-8);
    color: var(--mantine-color-dark-3);

    position: sticky;
    bottom: 0;

    @media (max-width: $mantine-breakpoint-xs) {
        margin-top: 20px;
        font-size: smaller;
    }
}

.footerLink {
    color: var(--mantine-color-dark-2);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-lg);
    padding-bottom: var(--mantine-spacing-lg);

    @media (max-width: $mantine-breakpoint-xs) {
        padding-top: var(--mantine-spacing-sm);
        flex-direction: column;
    }
}

.links {
    @media (max-width: $mantine-breakpoint-xs) {
        margin-top: var(--mantine-spacing-md);
        font-size: smaller;
    }
}
