.name {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    text-align: left;
    font-weight: bold;
}

.site {
    text-align: left;
}

.image {
    width: 2em;
}
